body {
  background: #fdffcd;
  font-family: Mali;
}

.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 200, 124) 0%,
    rgb(252, 251, 121) 90%
  );
  max-width: 600px;
  margin: 60px auto;
  box-shadow: 10px 10px 5px 0.8px grey;
  border-radius: 20px;
  padding: 40px;
  border: 1px #e79e85;
}

.search-form-input {
  border: orange;
  padding: 15px 20px;
  width: 75%;
  font-size: 18px;
  margin: 0 auto;
  border-radius: 5px;
}

.search-form-button {
  background-color: #e79e85;
  color: whitesmoke;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  margin: 0 auto;
  margin-left: 7px;
  border-radius: 5px;
}

/* .search-form {
  display: flex;
  justify-content: space-between;
} */

main {
  padding: 20px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-city {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
  color: #f67280;
  /* border: 1px solid red; */
  border-radius: -15px;
  /* margin-top: 5px;
  margin-left: 150px;
  margin-bottom: 5px; */
  padding: 0px 10px 10px 20px;
  font-weight: 600;
  text-align: center;
}

.weather-details {
  font-size: 18px;
  line-height: 24px;
  /* padding: 20px 10px 20px 10px; */
  /* margin: 35px; */
  /* margin-top: 50px;
  margin-bottom: 80px; */
  /* border: 1px solid aliceblue; */
  border-radius: 15px;
}
.description {
  text-align: center;
}

/* .time {
  margin: 0 auto 0 auto;
  font-size: 28px;
  text-align: left;
}



/* .weather-temperature-container {
  display: flex;
  border: 1px solid aliceblue;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  margin-top: 0px;
} */

.weather-details-column1 {
  display: flex;
  /* margin-left: 5px;
  margin-right: 450px; */
  /* border: 1px solid aliceblue; */
}

.weather-icon {
  width: 160px;
  height: 160px;
  /* margin-top: 90px;
  text-align: center;
  margin-left: -270px;
  margin-bottom: 0px; */
}

.weather-temperature {
  font-size: 70px;
  /* margin-left: 10px; */
  line-height: 88px;
  font-weight: bold;
  text-align: center;
}

.weather-unit {
  margin-top: 16px;
  font-size: 28px;
  /* text-align: center; */
}

header {
  padding: 0 0 30px 0;
}
footer {
  font-family: Kodchasan;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba (0, 0, 0, 0.8);
}

a {
  color: #b80d57;
}
