body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/125/422/original/paul-earle-xJ2tjuUHD9M-unsplash.jpg?1714735734");
  font-family: Mali;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
}

.container {
  background-color: whitesmoke;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 10px 10px 5px 0.8px #083975;
  border-radius: 20px;
  padding: 40px;
  border: 1px #1f5393;
}

.search-form-input {
  border: 1px solid #083975;
  padding: 15px 20px;
  width: 70%;
  font-size: 18px;
  margin: 0 auto;
  margin-left: 30px;
  border-radius: 5px;
}

.search-form-button {
  background-color: #083975;
  color: whitesmoke;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  margin: 0 auto;
  margin-left: 8px;
  border-right: 30px;
  border-radius: 5px;
}

main {
  padding: 10px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
}

.weather-details {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
  width: 200px;
  font-size: 22px;
  line-height: 48px;
  text-align: center;
  padding: 20px 10px 20px 10px;
  border: 1px solid #083975;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(4, 2, 84, 0.887);
  background-color: #e7eaf6;
}
.description {
  box-sizing: border-box;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 2px;
  line-height: 48px;
  text-align: center;
}

.time {
  font-weight: bold;
  text-decoration: underline;
  font-size: 22px;
  line-height: 48px;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 2px;
}

.weather-details-column2 {
  width: 400px;
}

.weather-city {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
  font-size: 60px;
  line-height: 8px;
  color: #083975;
  padding: 20px 10px 60px 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(9, 6, 150, 0.5);
}

.weather-temperature-icon {
  height: 200px;
  width: 200px;
  text-align: center;
  /* font-size: 48px; */
  /* line-height: 24px; */
  padding: 30px 20px 10px 20px;
  display: block;
  margin: 0 auto;
  margin-left: 50px;
  border: 1px solid #083975;
  box-shadow: 10px 10px 10px rgba(4, 2, 84, 0.887);
  border-radius: 15px;
  /* transform: rotateX(10deg) rotateY(38deg) scale(1.02, 1) skew(179deg, 0deg)
    translate(14px, 0px); */
  background-color: #e7eaf6;
}

.weather-temperature {
  font-size: 56px;
  font-weight: bold;
  text-align: left;
}

.weather-unit {
  margin-top: 0px;
  font-size: 48px;
}

.icon {
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 0px 10px;
  border-radius: 2px;
}

.forecast {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
}

.forecast-day {
  border: 1px solid #083975;
  background-color: #a2a8d3;
  border-radius: 25px;
  height: 160px;
  width: 200px;
  /* transform: rotateY(16deg) scale(1.08, 0.89) skew(164deg, 197deg)
    translate(-1px, 12px); */
  /* transform: rotateX(-10deg) rotateY(38deg) scale(1.02, 1) skew(179deg, 0deg)
    translate(14px, 0px); */
  /* transform: skew(0deg, 16deg); */
  transform: scale(0.89, 0.84) skew(0deg, 16deg) translate(0px, -3px);
}

.forecast-date {
  font-size: 20 px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #000;
}

.forecast-icon {
  width: 88px;
  height: 88px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.forecast-temperatures {
  text-align: center;
  color: #a52f57;
  display: flex;
  justify-content: center;
}

.forecast-temperature {
  padding: 0 5px;
}

header {
  padding: 0 0 30px 0;
}
footer {
  font-family: Kodchasan;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba (0, 0, 0, 0.8);
}

a {
  color: #b80d57;
}
